<div class="user-details">
  <h1>Our projects</h1>
  <p>
    Our labs use the latest technology to create tools that make life easier for the human race. 
  </p>
  <p>
 For any complaint or malfunctioning of our disruptive technologies  please write to <a href="mailto:complaints@spacetronindustries.xyz">complaints@spacetronindustries.xyz</a>
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Filmtron 2000 ™</h2>
    <img width="250px" src="../assets/img/filmtron.jpg">
    <p>
      No more lost documents, no more cabinets full of binders: the Filmtron 3000 ™ is the answer for offices around the world. 
    </p>
  </div>
  <div class="tech">
    <h2>Matchtron 3000 ™ </h2>
    <img width="250px" src="../assets/img/matchtron.jpg">
    <p>Our most innovative project, based on the last discoveries in A.I. world. The Matchtron 3000 ™ scans the net for 
    matching ads.when a match is found it automatically prints the text, then cuts it to conserve only the most important part and then pushes it to an scanner for the OCR process. </p>
  </div>
  <div class="tech">
    <h2>Tapetron 6000 ™</h2>
    <img width="250px" src="../assets/img/tapetron.jpg">
    <p>Our most iconic and widely used project.
     Stay updated to what the most important influencers did or said. You can easily read them on the printed tape, never miss a thing!</p>
  </div>
</div>
